In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
np.random.seed(101)
mydata = np.random.randint(0,101,(4,3))
mydata

array([[95, 11, 81],
       [70, 63, 87],
       [75,  9, 77],
       [40,  4, 63]])

In [5]:
myindex = ['CA', 'NY', 'AZ', 'TX']

In [6]:
mycolumns = ['Jan', 'Feb', 'Mar']

In [9]:
df = pd.DataFrame(data=mydata, index=myindex, columns=mycolumns)
df

    Jan  Feb  Mar
CA   95   11   81
NY   70   63   87
AZ   75    9   77
TX   40    4   63

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, CA to TX
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Jan     4 non-null      int64
 1   Feb     4 non-null      int64
 2   Mar     4 non-null      int64
dtypes: int64(3)
memory usage: 128.0+ bytes